<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HMS - IDS517 Group 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <!-------<link rel="stylesheet" href="index.css">----->
</head>
<body>

<header>
    <h1>Hospital Management System</h1>
    <p>Final IDS517 Project Fall Semester 2023</p>
    <p>Group 4</p>
</header>

<div class="container">
    <div th:insert="fragments/navbar.html"> </div>

    <div class="jumbotron text-center d-flex align-items-center">

        <div class="container">
            <div class="">
                <h1 id="dynamic-text">Your Health, Our Mission!!!!</h1>
<!--            <img src="/images/HMS.png" alt="Hospital Image" />-->
        </div>
    </div>

</div>
</div>

<footer>
    <p>&copy; 2023 Hospital Management System</p>
    <p>Designed and Developed by Veera Palla</p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="index.js"></script>
</body>
</html>